<ion-header>
  <ion-searchbar slot="start" color="light"></ion-searchbar>
  <ion-segment>
    <ion-segment-button value="friends" checked="true">
      pending
    </ion-segment-button>
    <ion-segment-button value="enemies">
      closed
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item lines="full">
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22"
          />
        </ion-avatar>

        <ion-label position="fixed" padding>Manu</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-slides>
      <ion-slide>
        <img src="assets/bribe.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/bribe.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="assets/bribe.jpg" />
      </ion-slide>
    </ion-slides>
    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile, and
        climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    <ion-item>
      <ion-fab-button
        padding
        vertical="bottom"
        horizontal="end"
        color="tertiary"
      >
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        padding
        vertical="bottom"
        horizontal="end"
        color="tertiary"
      >
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        padding
        vertical="bottom"
        horizontal="end"
        color="tertiary"
      >
        <ion-icon name="text"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-card>
</ion-content>
