<ion-header>
    <ion-searchbar slot="start" color="light"></ion-searchbar>
  
</ion-header>

<ion-content>
  
    <h4 class="title">Missing</h4>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
         <img src="assets/ayana.jpg"/>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
          <ion-card-content>
           <img src="assets/ayana.jpg"/>
          </ion-card-content>
        </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
