ion-col {

    width: 50vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-avatar{
    margin: auto;
    width: 200px;
    height: 200px;
    border: 6px solid rgb(237, 243, 245);
    }
    ion-grid{
        min-height: 100%;
        display: flex;
        width: 100%;
        align-items: center;
    }
    ion-row{
        width: 100%;
    }
    
     .items{
        margin: auto;
        position: relative;
        width: 77px;
        height: 76px;
        top: -36px;
        left: 9px;
    }
    .edit{
        color: blue;
    }
    .editbutton{
        padding: 0px 8px 0px 25px;
    }
    ion-item{
        font-size:20px;
        
    }
    ion-tittle{
        text-align: center;
    }
