.signup{
    margin-left:150px;
    margin: auto;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}
  
.cursor {
    cursor: pointer;
}

.large-icon {
    font-size: 125px;
    opacity: .4;
}

.circle {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 50%;
    height: 135px;
    width: 135px;
}

.centre {
    text-align: center;
}

.container-box {
    width: 100%;
    max-width: 750px;
    display: inline-block;
}

.err-size {
    font-size: 14px;
}
.text-right {
    text-align: end;
    margin-top: 14px;
}