<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button icon="close"></ion-back-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-item lines="full">
        <ion-avatar>
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22"
          />
        </ion-avatar>

        <ion-label position="fixed" padding>Manu</ion-label>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-item>
      <ion-textarea placeholder="write something" autoGrow></ion-textarea>

      <ion-fab-button
        padding
        vertical="bottom"
        horizontal="end"
        color="tertiary"
      >
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22"
        />
      </ion-avatar>
      <ion-card-content>
        <ion-label>
          <i><b>sooraj pn</b></i>
        </ion-label>
        <ion-text>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-text>
      </ion-card-content>
    </ion-item>
  </ion-card>
</ion-content>
